*{
    margin: 0;
}
body{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/37df5131-b91c-4489-bb41-da4bd9bdb1e1/UZ-en-20210719-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    font-family: sans-serif;
}
.netflix
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/gray/3HCWZMP7PFGY3OJJPFHIX5O2VI.png);
    justify-content: space-between;
    background-size: cover;
}
select
{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-left: 1250px;

}
.netflix_btn
{
    width: 100px;
    height: 40px;
    margin-right: 100px;
    background-color: #E50914;
    color: white;
    border-radius: 6px;
    border: 1px solid #E50914;
    font-size: 20px;
    cursor: pointer;
}
.background{
    width: 800px;
    height: 700px;
    display: grid;
    place-items: center;
}
.netflix_des{
    padding-bottom: 200px;
    font-size: 70px;
    color: white;font-weight: 600;
}
.netflix_p{
    color: #FFFFFF;
    font-size: 30px;
    padding-bottom:100px;
    padding-left: 120px;
}
.netflixdes{
color: #F3FFFF;
font-size: 20px;
}
.netflix_logo{
    color: red;
    font-size: 50px;
    font-weight: 800;
}
.des{
    margin-bottom: 200px;
}
